extends ./layout.pug

block content
    .inside
        p.title About us
        p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eros diam, interdum quis dictum a, iaculis in purus. Vestibulum viverra elit vitae tortor viverra, nec varius felis maximus. Praesent purus mauris, scelerisque eu elit non, bibendum accumsan velit. Integer non lorem vitae leo vehicula blandit. Pellentesque consequat, arcu non pulvinar maximus, tellus mauris condimentum ligula, sed posuere nunc neque vel elit. Vivamus a blandit velit. Etiam luctus viverra sem, sed pellentesque lorem. Quisque neque massa, interdum a suscipit eu, condimentum ac turpis. Quisque volutpat erat non sem egestas, ut tempor arcu pretium.
        img.shop(src='/img/web/shop.jpg', alt='shop', title='shop')
        p
            | Aenean orci velit, pellentesque at erat eu, tincidunt mattis leo. Morbi eu porta dolor. Aliquam suscipit, felis sed ornare rhoncus, mauris ante pharetra erat, ac rutrum nunc felis eu dui. In venenatis sollicitudin facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam sollicitudin, augue nec sagittis volutpat, lacus ipsum condimentum magna, non feugiat mauris risus at purus. Etiam euismod rutrum consequat. Nullam sem nibh, bibendum at blandit nec, posuere et enim. Fusce elementum metus ac lorem dapibus, sit amet accumsan orci mollis. Donec et rhoncus lectus, dictum hendrerit nulla. Nulla volutpat justo eget luctus fringilla. Etiam molestie, elit pulvinar efficitur accumsan, ex dui finibus lectus, ac sollicitudin eros urna ac odio. Mauris quis pharetra nibh.
        p
            | Proin sit amet suscipit lorem. Duis lacinia congue purus interdum pretium. Etiam quis fermentum velit, a fermentum justo. Sed lacinia augue et nulla dignissim, quis venenatis ex tempus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam sapien turpis, gravida eget elementum quis, imperdiet ut purus. Fusce elementum libero sit amet sapien dictum, id tincidunt risus laoreet. Fusce tristique dignissim justo, euismod dictum metus egestas vel. Curabitur vulputate dignissim lorem, non maximus nunc sagittis in. Etiam malesuada et ex et venenatis. Nullam sit amet feugiat metus.
        p
            | In varius diam justo, in imperdiet libero porttitor sed. Fusce dapibus quam ac tempor aliquet. Proin id faucibus diam, eu lacinia ipsum. Nam eu venenatis sapien. Nulla sed arcu elit. Sed in varius libero. Vivamus a interdum risus. Aenean mauris ligula, dignissim nec blandit pretium, hendrerit et nibh. Quisque eget ante nibh. Nulla egestas tincidunt ornare. Morbi et congue purus, id aliquam elit.
        p
            | Pellentesque lectus eros, fringilla a scelerisque in, pharetra quis felis. Maecenas vestibulum vestibulum facilisis. Praesent lorem lacus, consectetur eu quam id, tincidunt lacinia nisi. Ut leo nunc, vestibulum a tristique quis, sagittis ac odio. Morbi vitae egestas risus, id bibendum purus. Nam ac velit hendrerit, rutrum metus ullamcorper, vulputate eros. In et mi quis metus sollicitudin placerat. Vestibulum ut dictum nisl. Maecenas faucibus tincidunt vestibulum. Nullam vitae nibh nunc. Fusce vehicula viverra diam ac pretium.
